@import '../variables';

.timeline-header {
  display: flex;
  width: 100%;
  border-bottom: $size-border solid $color-background-dark;
  box-sizing: border-box;

  &__first-column {
    flex: 0 0 auto;
    padding: ($size-gap / 2) $size-gap;
    box-sizing: border-box;
    background-color: $color-background-light;
  }
}
