@import '../variables';

.timeline-footer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: $color-background-dark;

  &__first-column {
    flex: 0 0 auto;
    padding: ($size-gap / 2) $size-gap;
    box-sizing: border-box;
    background-color: $color-background;
  }

  &__range {
    flex: 1 1 auto;
    overflow-x: hidden;
  }
}
