@import '../../variables';

.timeline-track {
  display: flex;
  width: 100%;
  user-select: none;

  %__first-column {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: $size-timeline-side-width;
    padding: ($size-text / 8) $size-text;
  }

  &__first-column {
    @extend %__first-column;
    background-color: $color-background-light;

    &--active {
      @extend %__first-column;
      background-color: $color-primary;
    }

    &--odd {
      @extend %__first-column;
      background-color: lighten($color-background-light, 4%);
    }
  }

  &:hover {
    .timeline-track__first-column {
      @extend %__first-column;
      background-color: mix($color-background-light, $color-primary, 50%);

      &--odd {
        @extend %__first-column;
        background-color: mix($color-background-light, $color-primary, 50%);
      }
    }
  }

  %__body {
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
  }

  &__body {
    @extend %__body;

    &--odd {
      @extend %__body;
      background-color: rgba($color-text, 0.04);
    }
  }
}
