@import '../../variables';

.timeline-player {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__button {
    height: 100%;
    padding: 0 $size-text;
    border: none;
    background-color: transparent;
    color: $color-text;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: background-color $time-transition ease;

    &:hover {
      background-color: rgba($color-text, 0.1);
    }
  }
}
